$lightGreen: #b9e7e7;

.menu {
  display: flex;
  flex-direction: column;
  gap: 25px;

  h1 {
    font-size: 20px;
    color: #555;
  }
  .post {
    display: flex;
    flex-direction: column;
    gap: 10px;
    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
    button {
      width: max-content;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      background-color: white;
      border: 1px solid teal;
      &:hover {
        border: 1px solid white;
        background-color: $lightGreen;
        color: black;
      }
    }
  }
}
